@mixin media-md {
    @media (min-width: 860px) {
        @content;
    }
}


@mixin flexDiv ($direction: row, $justify: flex-start, $align: flex-start, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap:$gap
}